

.App-container {
    max-width: 500px;
    width: 80%;
    margin: 0 auto;
    padding-top: 4rem;
}

.cart-con {
    box-shadow: 2px 2px 14px -7px rgba(0,0,0,1);
    padding: 1.3rem;
    border-radius: 5px;
}

.form-in > label {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 2px;
}
.form-in  {
    padding: .5rem 0;
}
.form-in > input {
    width: 94%;
    font-size: 1rem;
    outline: none;
    border: 2px solid #dfdfdf ;
    background-color: #dfdfdf;
    padding: 10px;
    border-radius: 5px;
}
.form-in > input:focus {
    border: 2px solid aqua;
    box-shadow: 2px 2px 18px -11px rgba(0,0,0,1);

}
.submit-btn {
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 6px 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1rem;
    width: 50%;
}

.showmem {
    margin-top: 2rem;
}
.info-con > p {
    margin: 0;
}
.no-user {
    box-shadow: 2px 2px 14px -7px rgba(0,0,0,1);
    padding: 1.3rem;
    border-radius: 5px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}
